body {
  background: transparent url('./joanna-kosinska-PbgY3ptgA4A-unsplash.jpg') no-repeat padding-box;
  background-size: 100% 300%;
}

#main {
  position: relative;
}

.main-div {
  display: flex;
  margin: 20px;
}

.cards {
  width: 200px;
  cursor: pointer;
  position: relative;
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}


.list-div {
  margin: 0px 8px 0px 0px;
  width: 250px;
  background-color: #ebecf0;
  border-radius: 3px;
  max-height: 500px;
}

.del-btn {
  position: absolute;
  left: 85%;
}

.edit-btn {
  font-size: small;
  position: absolute;
  left: 70%;
}